<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets & Servlet-Mappings -->
  
  <!-- GWT RPC SERVLETS (???????????????!!!!!!!!!!!!!!!!) -->
  <!-- PRICE SERVICE -->
  <!-- Price Service Servlet -->
  <servlet>
    <servlet-name>marketPriceServiceImpl</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.MarketPriceServiceImpl</servlet-class>
  </servlet>
  
  <!-- Price Service Servlet Mapping -->
  
  <servlet-mapping>
    <servlet-name>marketPriceServiceImpl</servlet-name><!-- links to the above-->
    <url-pattern>/stockwatcher/marketPrices</url-pattern><!-- url to bind to this servlet -->
  </servlet-mapping>

  <!--  BUSINESS SERVICE -->
  <!-- Business Service Servlet -->
  <servlet>
    <servlet-name>businessServiceImpl</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.BusinessServiceImpl</servlet-class>
  </servlet>
  
  <!-- Business Servlet Mapping -->
  
  <servlet-mapping>
    <servlet-name>businessServiceImpl</servlet-name><!-- links to the above-->
    <url-pattern>/stockwatcher/business</url-pattern><!-- url to bind to this servlet -->
  </servlet-mapping>

    <!--  PLAYER SERVICE -->
  <!-- Player Service Servlet -->
  <servlet>
    <servlet-name>playerServiceImpl</servlet-name>
    <servlet-class>com.google.gwt.sample.stockwatcher.server.PlayerServiceImpl</servlet-class>
  </servlet>
  
  <!-- Player Servlet Mapping -->
  
  <servlet-mapping>
    <servlet-name>playerServiceImpl</servlet-name><!-- links to the above-->
    <url-pattern>/stockwatcher/player</url-pattern><!-- url to bind to this servlet -->
  </servlet-mapping>
  
 
  <!-- NON RPC SERVLETS (?????????!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!) -->
  <!-- ENGINE Servlet - for cron jobs to run the bg logic -->

  <!-- 1. Engine Service Servlet -->
  <servlet>
  	<servlet-name>EngineServlet</servlet-name>
  	<servlet-class>com.google.gwt.sample.stockwatcher.server.engine.EngineServlet</servlet-class>
  </servlet>
  
  <!-- 2. Engine Servlet mapping -->
   <servlet-mapping>
   	<servlet-name>EngineServlet</servlet-name>
   	<url-pattern>/admin/engine</url-pattern>
   </servlet-mapping>
  
   <!--  OTHER SINGULAR STUFF -->
   
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>StockWatcher.html</welcome-file>
  </welcome-file-list>

  <!-- Security constraints! I guess this handles login at the webserver level -->
  <security-constraint>
      <web-resource-collection>
          <web-resource-name>default</web-resource-name>
          <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>*</role-name>
      </auth-constraint>
  </security-constraint>
  
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
  
</web-app>
